{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Mithilfe {% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Mithilfe</h1>
        </div>
        <div class="card-body">
          <p>Gerne können Sie dazu beitragen, die automatische Volltexterkennung zu verbessern. Dies geschieht auf der Plattform Transkribus, für die eine einmalige kostenlose Anmeldung benötigt wird, die Sie hier vornehmen können: <a href="https://transkribus.eu">https://transkribus.eu</a></p>
          <p>Für die Verbesserung von Texten kann auf die Website <a href="https://transkribus.eu/r/read/projects/43497">https://transkribus.eu/r/read/projects/43497</a> zugegriffen werden. Die Installation eines Programmes ist nicht nötig. Dieses kann aber alternativ verwendet werden.</p>
        </div>
    </div>
</div>
{% endblock %}
